:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: #030615;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.imageContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.bgimg {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-size: 2rem;
}
footer h1 {
    font-size: 1.3rem;
    font-weight: 200;
}

footer button {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    transition: all 300ms;
}

footer button:hover {
    opacity: 0.6;
}

footer button i {
    font-size: 1.5rem;
}

.bg-gradient {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    transition: 0.5s;
}

.bgoverlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #030615;
    opacity: 0.7;
}

.sidebarContents {
    position: relative;
    max-width: 800px;
    width: 90%;
    height: 100%;
    background-color: #030615;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    z-index: 15;
}

.sidebarContents div {
    flex: 1;
}

.sidebarContents h1 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebarContents button {
    background: transparent;
    border: none;
    outline: none;
    margin-right: auto;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date {
    font-size: 1.2rem;
    font-weight: 200;
}

.description {
    text-align: justify;
}
.loadingState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.loadingState i {
    font-size: 3rem;
    opacity: 0.2;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(100deg);
    }
}

@media (min-width: 640px) {
    .sidebar {
        position: relative;
        inset: unset;
        min-width: 30%;
        box-shadow: 0 0 10px #030615;
    }

    .sidebarContents {
        margin: unset;
    }
}
